.book {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cover {
  align-self: center;
  width: 150px;
  height: 150px;
}

.book-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title, .author {
  margin: 0;
  padding: 0;
}

.author {
  margin-top: 5px; /* adjust as needed */
}

.keywords {
  color: #888; /* adjust color as needed */
}