<div class="card">
  <div class="card-title">
    <h2> {{book.title}}</h2>
  </div>
  <div class="author">
    <h3>{{book.author}}</h3>
  </div>
  <div class="summary">Cette œuvre à l'atmosphère dramatique nous plonge dans une façon de vivre fondamentale,
    propre au narrateur. Son indifférence face au suicide d'une jeune fille un soir de promenade a poussé ce brillant avocat
    à un questionnement au plus profond de la conscience humaine et cela pousse irrémédiablement à réfléchir aux raisons qui
    obligent les hommes à arpenter une vie sans en explorer le sens ou la vérité. Cette vérité est le résultat des jugements
    que l'on peut porter, sur les autres ou sur soi-même, lorsqu'on se rend compte de ses fautes. Comme un dédoublement de la
    personnalité, lorsque la personne que l'on croit être n'est autre qu'un amoncellement de valeurs faussement acquises,
    comme si ce double portait un jugement nouveau sur soi.
  </div>
  <div class="genre">
    Genre:{{book.genre}}
  </div>


</div>
