.cover {
  margin: 70px 0 0 0;
  display: flex;
  justify-content: center; /* aligns items horizontally in the center */
  align-items: center; /* aligns items vertically in the center */
}


.book-cover {
  border-radius: 10px;
  width: 250px; /* adjust as needed */
  height: 300px; /* adjust as needed */
  object-fit: cover; /* this will ensure that the aspect ratio of the image is maintained */
  margin: 0 auto; /* center the image */
  align-self: center;
}

.button-container {
  display: flex;
  justify-content: center; /* centers items horizontally */
  padding-top: 20px; /* adjust as needed to lower the button */
}


